<html>
    <head>
        <title>Select Movies</title>
        <link rel="stylesheet" type="text/css" href="static/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
        <script type="text/javascript">
            var films = {{data|tojson}};
        </script>
    </head>
    <body>
        <div class="nav">
            <input type="text" id="searchBox" placeholder=" Quick Search..." onkeyup="search(films)"><!--<i class="fas fa-search"></i>-->
                <a href="">Home</a>
                <a href="">Hit list</a>
                <a href="/login">Login</a>
                <a href="">Sign up</a>
        </div>
        <div class="left">
            <h1>WELCOME TO RECOM</h1>
        </div>   
        <div class="popular">
            <h3><i class="fas fa-star"></i> Based on movies you browsed earlier</h3>
        </div>
        <div id="searchResult">
            
        </div>
        <div class="illus">   
            <img src="/static/images/undraw_movie_night_fldd.svg" alt="">
        </div>
        <!--
        <div class="row">
            {% for t in data %}
            <div class="col">
                    <p>{{t|upper}}</p>
                    <button><a href="/result/{{t}}">Get Recommendations</a></button>
            </div>
            {% endfor %}
        </div>
        -->
        <script type="text/javascript" src = "static/js/home.js" ></script>
    </body>
</html>