*
{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

body
{
	background: #f7f7f7;
	text-align: center;
	color: #F64C72;
	font-family: Georgia;
}

.nav
{
	display: flex;
	background-color: black;
	width: 100%;
	height: 50px;
	justify-content: flex-end;
	margin-right: 20px;
}
.nav input, a
{
	margin-right: 50px;
	margin-top: 10px;
	border-radius: 10%;
	padding: 5px;
}

a
{
	text-decoration: none;
	font-family: Georgia;
}

a:link, a:visited 
{
    color: white;
    font-family: Georgia;
}

.row {
  margin-top: 15em;
  display: flex;
  flex-wrap: wrap;

}
.col
{
	flex: 1;
	padding: 1em;
	align-self: flex-end;
}
.movies
{
	margin: 15px;
	max-width:100px; 
	max-height: 100px;
}
#searchResult
{
	background-color: black;
	position: absolute;
	display: flex;
	flex-direction: column;
	margin: 20px;
	align-items: center;
	z-index: 20;
	left: 55%;
	top: 4%;
}

#searchResult button
{
	display: flex;
	height: 50px;
	width: 100%;
	background: #000000;
	color: white;
	
}

#searchResult button:hover
{
	background: rgb(48, 44, 44);
}

#searchResult button img
{
	display: flex;
	align-self: flex-start;
	width: 50px;
	height: 50px;
}

.illus
{
	left: 20%;
	position: fixed;
	z-index: -1;
	filter: blur(8px);
}

/*
#searchBox
{
	width: 30%;
	border: 2px solid black;
	border-radius: 10% 10% 10% 10%;
	padding: 20px;
}
*/

#searchBox:focus
{
	outline: none;
}

.popular
{
	position: relative;
	top: 40vh;
}